body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
::after,
::before {
  box-sizing: border-box;
}

li a:hover {
  font-weight: 600;
}

#title {
  margin-top: 60px;
  padding: 10px;
  font-weight: 400;
}

@media (max-width: 770px) {
  #title {
    font-size: 30px;
  }
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 20px auto 0 auto;
  padding: 5px;
}

#intro {
  margin: 20px 0 20px 0;
  text-align: center;
}

/* Dark theme styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }

  #title,
  #intro {
    color: #fff;
  }

  #features {
    background-color: rgba(245, 245, 245, 0.1);
  }

  #subscription {
    background-color: rgba(33, 33, 33, 0.8);
  }
}

/* Light theme styles*/
@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
  }

  #title,
  #intro {
    color: #000;
  }
}

#features {
  padding: 5px;
}

#subscription,
#submitLinks {
  background-color: rgba(33, 33, 33, 0.8);
  padding: 15px 6px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 30px;
}

#subscription p,
#submitLinks p {
  margin-left: 5px;
}

#subscriptionForm,
#submitLinksForm {
  margin-left: 5px;
  margin-right: 5px;
}
